.order{
    margin: 1rem;
    padding: 1 rem;
    background-color: green;
    box-shadow: 0 2px 8px black;
    border-radius: 12px;
    text-align: center;
    color: white;
}

.order h2 {
    font-size: 2rem;
    color: yellow;
}

.order span{
    color: white;
    margin: 0px;
    font-size: 1 rem;
}